* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #171717;
  color: #61dafb;
  width: 100%;
  height: 100vh !important;
}

.particle_bg {
  width: 100%;
  height: 100vh;
  position: relative;
}
.App-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.App-Title {
  font-size: 4rem;
  font-family: fira code;
}
.App-logo {
  height: 70vh;
  animation: logo-spin 5s infinite linear;
}
/* canvas {
  width: 120rem !important;
  height: 75rem !important;
} */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (min-width: 360px) {
  .App-logo {
    height: 50vh;
  }
  canvas {
    width: 99.9vw !important;
    height: 120vh !important;
  }
  .App-Title {
    font-size: 3rem;
  }
}
