body{
  background-color: #171717;
  color: #61dafb;
}
.particle_bg{
  width: 100%;
  height: 100%;
  position: relative;
  
}
.App-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.App-Title{
  font-size: 4rem;
  font-family: fira code;
}
.App-logo{
  height: 70vh;
  animation: logo-spin 5s infinite linear;
}

/* canvas{
  width: 100% !important;
} */
@keyframes logo-spin{
  from{
    transform: rotate(0deg) ;
  }
  to{
    transform: rotate(360deg) ;

  }
}